body{
    background-color: #FBCDCD;
    margin: 0;
}

header{
    background-color: #DE6F81;
    width: 100%;
    height: max-content;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.popupmessage1{
    height: 100vh;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content:center;
}

.textbox{
    align-content: center;
    width: 900px;
    animation: 4s ease-in text-box;
}

@keyframes text-box {
    from {
      /* pushes the sun down past the viewport */
      transform: scale(0);
    }
    to {
      /* returns the sun to its default position */
      transform: scale(100%);
    }
  }

.popupmsg1, 
.popupmsg2,
.popupmsg3{
    display: none;
}

.popupmessage2{
    display: none;
}

